Package: eclipse-groovy
Version: ${project.version}
Section: misc
Priority: low
Architecture: all
Description: Eclipse Groovy Plugins
Maintainer: robert.wettergren@ericsson.com
Depends: eclipse (>= 4.4.2-0enm)