Package: eclipse-jboss-tools
Version: ${project.version}
Section: misc
Priority: low
Architecture: all
Description: Eclipse JBoss tools
Maintainer: robert.wettergren@ericsson.com
Depends: eclipse (>= 4.4.2-0enm)