Package: eclipse-guava
Version: ${project.version}
Section: misc
Priority: low
Architecture: all
Description: Eclipse Guava Plugin
Maintainer: robert.wettergren@ericsson.com
Depends: eclipse (>= 4.4.2-0enm)