Package: eclipse-mylyn-git
Version: ${project.version}
Section: misc
Priority: low
Architecture: all
Description: Eclipse MyLyn Git Plugins
Maintainer: robert.wettergren@ericsson.com
Depends: eclipse (>= 4.4.2-0enm)